/* .pilotHeader {
  text-align: center;
  color: #ff5a00;
  font-weight: 700;
}
.cover-info {
  position: absolute;
  top: 40%;
  text-align: center;
}
.cover-info p {
  text-align: center;
  color: #000;
  width: 75%;
  margin: 1rem auto;
}
.cover {
  background-image: url(../../../public/images/pilot.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 92vh;
  width: 100%;
  margin: 0;
}
.orders-head {
  margin-top: 5rem;
  text-decoration: underline;
  color: #ff5a00;
  font-weight: 700;
<<<<<<< HEAD
  
=======
>>>>>>> 72ba4788995a24b4226c262a38977f7bee729ea1
}
.checkMark:hover{
  cursor: pointer;
  transform: scale(1.2);
}
.checkMark:active{
color: #ff5a00;
}

.container{
  margin-bottom: 20px;
} */

.yummy {
  text-decoration: solid;
  color: orangered;
  display: inline-block;
  font-size: x-large;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}
.myOrders,
.pilotHistory {
  margin: 6rem 2rem;
}

.hi-pilot {
  width: 70%;
  margin: 2rem auto;
}
