.responsive-img {
  width: 100% !important;
  height: 35vh;
  object-fit: cover;
}
.card {
  box-shadow: 1px 1px 10px #ff5a00, -1px -1px 10px #ff5a00;
}

.hidee{
  display: none;
  position: absolute;
}