.user-profile {
  margin: 2rem auto;
}
.side-bar {
  color: #ff5a00;
  background-image: linear-gradient(180deg, #ff5a00, #8a3508);
  color: #fff;
}
.side-bar-top {
  text-align: center;
}
.img-responsive {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}
.student-info {
  margin: 2rem 0 3rem 0;
}
.student-info h1 {
  font-size: 25px;
}
.student-info h3 {
  font-size: 16px;
  margin: 10px 0 0 0;
}
.profile-list {
  list-style: none;
  margin: 0;
  padding: 0px;
}
.element {
  margin: 2px 0 2px 0;
  padding: 5px 5px 5px 25px;
  font-size: 25px;
  font-weight: 300;
  cursor: pointer;
}
.element button {
  background: none;
  width: 100%;
  text-align: left;
  color: #fff;
  border: 0;
}
.activeLink {
  background-color: #ff5a00;
  border-left: 5px solid #ff5a00;
}
.element:hover {
  background-color: #ff5a00;
}
.profileData {
  padding: 4rem 2rem 2rem 2rem;
}
.body-user {
  padding: 0;
  /* overflow-y: hidden; */
}
.toggle-btn {
  width: 75% !important;
  margin-top: 5rem !important;
}
.exit {
  margin: 1rem 1rem 2rem 0rem !important;
  background: none;
  border: 2px solid;
  font-size: 2rem;
  padding: 0;
  margin: 1rem;
  border-radius: 15px;
}
.canv-body {
  padding: 0 !important;
}
