.basket{
    font-size: xx-large !important;
    color: black !important;
    /* margin-right: 2%; */

}
.cartNumber{
    margin-right: 2%;
    color: black;
    font-size: larger;
    font-weight: bolder;
}
.sidebarhead{
    color: #ff5a00 !important;
    background-color: black;
}

.sidebarbody{
    color: #ff5a00 !important;
    background-color: white;
    /* opacity: .8; */
   
}
.cash{
    margin-left: 30% !important;
    text-align: center;
    width: 40%;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px 20px inset;
    
}
.dnone{
    display: none;
}
.dblock{
    display: block;
}
/* .show{
    display:  initial;
}

.hiden{
    display: none;

} */

.navli :hover{

border-radius: 10px;
padding: 5px;
box-shadow: 3px 3px 5px inset rgb(255, 244, 244);

}
.yummy{
    font-size: 1.3rem;
}
.charY{
    font-size: 1.8rem;
    color: #ff5a00;
    margin-right: 0;
}
.mynav{

    background-color: #ff5a00;
    opacity: .9;
    padding: 10px !important;
    border-radius: 10px !important;
   font-size: larger;
    }
    .addorder{
        text-decoration: none;
        color: white;
        box-shadow: 5px 5px 5px inset  , -5px -5x 5px ;
    }

.addBtn{
    width: 70%!important;
    margin: 1rem auto !important;
}