.basket {
  font-size: xx-large !important;
}
#cashDetails {
  margin: 2rem auto;
  text-align: center;
  box-shadow: #ff5a00 5px 5px 5px inset, #ff5a00 -5px -5x 5px;
}
.cartNumber {
  margin-right: 2%;
  color: black;
  font-size: larger;
  font-weight: bolder;
}
.sidebarhead {
  color: #fff !important;
  background-image: linear-gradient(90deg, #ff5a00, #df5002);
}

.sidebarbody {
  color: #ff5a00 !important;
  background-color: white;
  /* opacity: .8; */
}
.cash {
  background-color: #ff5a00;
  color: #fff;
  border: 0px solid;
  border-radius: 5px;
  border: 1px solid #ff5a00;
  padding: 0.5rem 2rem;
  font-size: 1.3rem;
  margin: 0.5rem auto;
  width: 70%;
  display: block;
}
.cash:hover {
  background-color: #fff;
  border: 1px solid #ff5a00;
  color: #ff5a00;
}
.dnone {
  display: none;
}
.dblock {
  display: block;
}
/* .show{
    display:  initial;
}

.hiden{
    display: none;

} */

.nav-list :hover {
  transform: scale(1.1);
  transition: ease-in-out 0.5s;
  color: #fff;
}
.navli :hover {
  color: #fff;
}

.charY {
  font-weight: 600;
  color: #fff;
  margin: 0;
  padding: 0;
}
.mynav {
  background-image: linear-gradient(90deg, #ff5a00, #df5002);
  /* opacity: 0.9; */
  padding: 10px !important;
  /* border-radius: 10px !important; */
  font-size: larger;
  margin: 0;
  padding-top: 0;
}
.addorder {
  text-decoration: none;
  color: white;
  box-shadow: 5px 5px 5px inset, -5px -5x 5px;
}

.addBtn {
  width: 70% !important;
  margin: 1rem auto !important;
}

.sign-element {
  color: #ff5a00 !important;
}

.yummy-nav li a,
.yummy-nav svg {
  color: #fff;
}
.sign-dropdown:focus {
  color: #fff !important;
}
nav {
  padding-top: 0 !important;
}
