.kitchen-details {
  padding: 5rem;
  margin: 3rem auto;
}
.kitchen-cover {
  width: 100%;
  text-align: center;
}
.respnsiveImg {
  border-radius: 50%;
  width: 100%;
  border: 0px;
}
.contain-kitchen-name span {
  padding-left: 1rem;
  font-size: 1.8rem;
  text-decoration: underline;
}
.item {
  width: 85%;
  margin: 2rem auto !important;
  padding: 1rem 1rem 0rem 1rem;
  border-bottom: 1px solid #ccc;
}
.item:hover {
  background-color: #ccc;
}
