.currentOrder,
.historyProfile,
.updateUser {
  margin: 5rem auto;
}

.table {
  margin: 1rem auto;
  width: 95%;
}
.top-head {
  text-decoration: underline;
  color: #ff5a00;
}
.updateUser hr {
  width: 75%;
  margin: 2rem auto;
}
.Updateform {
  width: 70% !important;
  margin: 1rem auto;
}
.up-btn {
  width: 40%;
  margin: 2rem auto;
}
